* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.42857143;
	color: #222222;
	background-color: #ffffff;
}

.page-header {
	padding-bottom: 9.5px;
	margin: 42px 0 21px;
	border-bottom: 1px solid #dddddd;
}

.page-header h1 {
	font-size: 4em;
	letter-spacing: -1px;
	text-align: center;
}

.bs-component {
	position: relative;
}

legend {
	display: block;
	width: 100%;
	padding: 0 0 8px 0;
	margin-bottom: 21px;
	font-size: 19px;
	font-weight: 300;
	line-height: inherit;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.hide {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.poster {
	max-width: 200px;
	max-height: 300px;
}

.info {
	width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: center;
	box-shadow: 1px 1px 7px 1px black;
	margin: 5px 0;
}

.info h2 {
	font-size: 20px;
}

.info p {
	font-size: 18px;
	text-align: center;
}